.col-first{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* flex-wrap: wrap; */
}

.question {
  font-size: 48px;
  font-family: 'Raleway', sans-serif;
  /* letter-spacing: 5px; */
  text-decoration: underline;
  font-weight: 900;
  margin-bottom: 20px;
}
.answer {
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 5px;
  margin-top: 20px
}

.page-spacer {
  height: 20vmin;
}

